
<section class="hero">
  <div uk-parallax="sepia: 100;" class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-center uk-flex-middle" style="background-image: url('https://i.ibb.co/HB884CN/fondo-skull.gif');">
    <div class="uk-grid uk-text-center uk-container" uk-grid>
      <div class="uk-width-3-5@m uk-width-2-3@l">
          <h1>
            Hi my name is MistyBlunch <br> and I am a computer scientist
          </h1>
        </div>
        <div class="uk-width-1-5@m uk-width-1-3@l">
          <p>
            I studying CS ffffffffffdf sd jnjn kjn knjkn kn k nkn k n kjnkjnk jnknjkjnk ibu by ubt7ft6f tvtfv f
          </p>
      </div>
    </div>
  </div>
</section>